/* HTML Tags */
/* id, name, ... type, class, style, ... onclick, placeholder, src/href, value */

/* URL Paths */
/* Adjacent File: relative */
/* Down-stream File: relative */
/* Menu Navigation: absolute */
/* Link Navigation: absolute */
/* PHP Include: relative (based on rules); otherwise root */
/* Inside PHP Include: rules for where it will be included */

/*** META ***/
:root {
   --mainColor:   #000000;
   --hoverColor:  #333333;
   --normalFont:  "Helvetica Neue","Helvetica","Arial", sans-serif;
   --titleFont:   "Helvetica Neue","Helvetica","Arial", sans-serif;
   --titleWeight: bold;
}

*{
   box-sizing: border-box;
}

[class*="col-"] {
   float: left;
   padding: .75em;
}
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
   .col-1   {width: 10%;}
   .col-2   {width: 20%;}
   .col-2h  {width: 25%;}
   .col-3   {width: 30%;}
   .col-3r  {width: 33.3%;}
   .col-4   {width: 40%;}
   .col-5   {width: 50%;}
   .col-6   {width: 60%;}
   .col-7   {width: 70%;}
   .col-8   {width: 80%;}
   .col-9   {width: 90%;}
   .col-10  {width: 100%;}
}

@media only screen and (min-width: 600px) {
   .col-m-1   {width: 10%;}
   .col-m-2   {width: 20%;}
   .col-m-2h  {width: 25%;}
   .col-m-3   {width: 30%;}
   .col-m-3r  {width: 33.3%;}
   .col-m-4   {width: 40%;}
   .col-m-5   {width: 50%;}
   .col-m-6   {width: 60%;}
   .col-m-7   {width: 70%;}
   .col-m-8   {width: 80%;}
   .col-m-9   {width: 90%;}
   .col-m-10  {width: 100%;}
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

/*** LAYOUT ***/
.header {
}

.tiles {
}

.navBar {
}

.main {
}

/*** GUI ***/
html {
   font-family: var(--normalFont);
}

.center {
   text-align: center;
}

.title {
   font-family:   var(--titleFont);
   font-weight:   var(--titleWeight);
   font-size:     3em;
}

.subtitle {
   font-family:   var(--titleFont);
   font-weight:   var(--titleWeight);
   font-size:     2em;
}

.textBlock {
   margin-bottom: 1.5em;
}

.textBlock {
}

@media only screen and (min-width: 768px) {
   .textBlock {
      padding-left: 15%;
      padding-right: 15%;
   }
}

.textBlock div {
   text-align:    left;
   margin-bottom: .5em;
}

.tile {
   cursor:           pointer;
}

.tile img {
   width:   100%;
   height:  auto;
}

.tile div {
   font-family:      var(--titleFont);
   font-weight:      var(--titleWeight);
   background-color: var(--mainColor);
   color:            #ffffff;
   white-space:      nowrap;

   padding:          .5em;
}

.tile:hover div {
   background-color: var(--hoverColor);
}

.navButton {
   font-family:      var(--titleFont);
   font-weight:      var(--titleWeight);
   background-color: var(--mainColor);
   color:            #ffffff;
   white-space:      nowrap;
   cursor:           pointer;
   border:           none;

   padding:          .5em;
   margin-bottom:    .5em;
}

.navButton:hover {
   background-color: var(--hoverColor);
}

.button, .fileButton {
   font-family:      var(--titleFont);
   font-weight:      var(--titleWeight);
   font-size:        1.5em;
   text-align:       center;
   background-color: var(--mainColor);
   color:            #ffffff;
   cursor:           pointer;
   border:           none;

   padding:          .5em;
}

.button:hover, .fileButton:hover {
   background-color: var(--hoverColor);
}

.inverseTab {
   color:            var(--hoverColor);
   background-color: #ffffff;
}

.inverseTab:hover {
   background-color: var(--hoverColor);
   color:            #ffffff;
}

.selectedTab {
}

.selectedTab:hover {
}

.inverseButton {
   border:           .1em solid var(--hoverColor);
   color:            var(--hoverColor);
   background-color: #ffffff;
}

.inverseButton:hover {
   background-color: var(--hoverColor);
   color:            #ffffff;
}

.selectedButton {
   border:           .1em solid var(--mainColor);
}

.selectedButton:hover {
}

.clickable, .link {
   cursor:           pointer;
}

.link {
   font-weight: bold;
}

.link:hover {
   text-decoration: underline;
}

.input {
   font-family:   var(--normalFont);
   border:        1px solid #ccc;

   width:         100%;
   padding:       1em 1.5em;
   margin-bottom: 1em;
}

.select {
   font-family:   var(--normalFont);
   font-size:     inherit;
   border:        1px solid #ccc;

   width:         100%;
   padding:       1em 1.5em;
   margin-bottom: 1em;

   -webkit-appearance:  none;
   -moz-appearance:     none;
}

.label {
   font-weight:   bold;
}

.logoImage {
   width:         8em;
   height:        8em;
}

/*** HTML TAGS ***/
a {
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
}

textarea {
   resize: vertical;
}

input[type='text'],
input[type='number'],
input[type='search'],
textarea {
   font-size: 16px;

   -webkit-appearance: none;
}

/*** FONTS ***/
/* currently unused */
@font-face {
font-family: "RS";
src:
   url("fonts/abrilfatface.eot"),
   url("fonts/abrilfatface.otf") format("opentype"),
   url("fonts/abrilfatface.woff") format("woff"),
   url("fonts/abrilfatface.svg#filename") format("svg");
}